@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #010e1e;
}

/* #MainHeader {
  text-shadow: 
    1px 1px 0 rgba(0, 0, 0, 0.5), 
    -1px -1px 0 rgba(0, 0, 0, 0.5),
    1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px rgba(0, 0, 0, 0.5);
} */

#fade-in {
  animation: fade 4s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
